#eclipse data files

.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.metadata/.plugins/*
*.xmi
*.index
*.log
*.gen
.metadata/version.ini
*.ini
*.log
*.log